/* Styles généraux */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps du document */
body {
    font-family: 'Bahnschrift Light Condensed', sans-serif;
    background-color: ##FFF8DC;
    color: #333;
    padding: 20px;
}

/* Conteneur principal */
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
}

/* Nom et titre */
.name h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #2c3e50;
}

.name p {
    font-size: 1.1em;
    color: #7f8c8d;
}

/* Section de l'expérience professionnelle */
section h2 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-top: 30px;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 5px;
}

/* Détails des emplois */
.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 1.3em;
    color: #2980b9;
}

.job ul {
    list-style-type: disc;
    padding-rith: 20px;
    margin-top: 5px;
}

.job ul li {
    margin-bottom: 5px;
}

/* Section formation */
.formation p {
    font-size: 1.1em;
    margin-top: 10px;
    color: #7f8c8d;
}

/* Liste des compétences */
.competences ul {
    list-style-type: square;
    padding-left: 40px;
    margin-top: 10px;
}

.competences ul li {
    margin-bottom: 8px;
}

/* Section Langues */
.langues ul {
    list-style-type: square;
    padding-left: 20px;
    margin-top: 10px;
}

.langues ul li {
    margin-bottom: 8px;
}

/* Style pour les div supplémentaires */
.subsection {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    margin-top: 20px;
}

.subsection h2 {
    color: #2980b9;
    font-size: 1.2em;
}

.section {
    margin-bottom: 30px;
    
}
